@charset "utf-8";
/* CSS Document */

.disp{
	display:inline-block;
}
#perso{
	width:80%;	
}
.crayon:hover{
	cursor:pointer;
}
@font-face {
	font-family: "Candlescript Demo Version";
	src: url('../font/Candlescript Demo Version.otf');
	
}
h1{
	font-size:1200%;
	text-align:center;
	color:#17B02E;
	font-family:"Candlescript Demo Version";
	
}